:root {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }

  html,body{
      height: 100%;
  }

.fullWidth{
    width: 100%;
    margin-bottom: 11%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.fullWidth:first-child{
   border-bottom: solid 10px #0071BC;
   margin-bottom: -1px;
}


.container{
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.desplegable {
    display: none;
}

.container1270{
    margin-bottom: 30px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 142px;
    height: 51px;
    margin-right: 100px;
 
}

.lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-family: "ROBOTO";
    font-size: 12px;
    font-weight: bold;
    color: #0071BC;
    align-items: flex-end;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

.listado{
    padding-right: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.listado > p {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    
}

.listado:last-child{
    padding-right: 0;
}

.swiper-container{
    z-index: 0 !important;
}

.swiper-slide{
    height: calc(100% - 111px);
}

.portada{
    background-image: url("../img/Port.png");
    background-repeat: no-repeat;
    height: calc(100% - 111px);
    margin-top: 111px;
    background-size: cover;
    

}

.cara{
    background-image: url("../img/vaccination.jpg");
    background-repeat: no-repeat;
    height: calc(100% - 111px);
    margin-top: 111px;
    background-size: cover;

}



.port{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.NTT{
    
    margin-top: 18%;
    margin-right: 14%;
}

.texto {
    font-family: "Roboto";
    font-size: 40px;
    margin-right: 20.5%;
    color: white;
    font-weight: normal;
}

.bold {
    font-weight: bold;
    font-family: "Roboto";
    font-size: 40px;
    margin-right: 13.5%;
    color: white;
}

.add{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 3%;
    margin-right: 1%;
}

.info{
    font-size: 27px;
    font-family: "Roboto";
    color: white;
    width: 45%;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 98px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Roboto";
    margin-bottom: 2%;
}

.datos{
    font-size: 20px;
    font-weight: normal;
    width: 57%;
    font-family: "Roboto";
    margin-bottom: 15px;
}

.data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.boton{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 43px;
    font-family: "Roboto";
    font-size: 14px;
    background-color: white;
}

.boton > img {
    margin-left: 10px;
}

.carta{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
    list-style-type: none;
    row-gap: 6%;
}

.space{
    margin-left: 2%;
    width: 50%;
    margin-bottom: 40px;
    margin-right: 5%;
    position: relative;
    margin-top: 5% ;
}


.servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
}

.name-card{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px ;
  
}

.card{
    font-family: "Roboto";
    width: 100%;
    margin-bottom: 10% ;
    padding-top: 30px;
    font-size: 16px;
    font-weight: normal;
}

.bot{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10%;
    padding-right: 0;
    background-color: white;
    font-family: "roboto";
    font-size: 14px;
    font-weight: bold;
    position: absolute;
}

.bot > img{
    margin-left: 8px;
    
}


.bot::after{
    content: "\279C";
    color: black;
    margin-left: 12px;
    font-size: 16px;
}


.foot{
    background-color: #0071BC;
    margin: 0;
}

.final{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    color: white;
    padding-top: 20px;
}

.listas{
    margin-left: 20px;
    font-family: "roboto";
}

.f-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.final-list{
    list-style-type: none;
    margin-right: 10px;
}

.final-list > img{
    
    margin-left: 5px;
}

.final-list > a{
    
   text-decoration: none;
   color: white;
}

a {
    text-decoration: none;
}

.bio {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 5%;
    font-family: "Roboto";
    padding-bottom: 20px;
}

.bio > h3 {
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

@media (max-width: 1024px) {

    .head{
        justify-content: space-around;
    }

    .desplegable {
        display: inline;
    }

    .dep{
      
        padding-left: 100%;
        padding-right: 100%;
        background-color: white;
        font-size: 30px;
        display: flex;
        border: transparent;
        justify-content: center;
        

    }


    .list{
            display: none;
        }

    .lista{
            display: none;
            flex-direction: column;
            
            height: 0;
            width: 30%;
            position: fixed;
            top: 0;
            right: 0;
            background-color: white;
            overflow-y: hidden;
            transition: 0.5s;
            border: solid;
            border-top-left-radius: 10%;
            border-bottom-left-radius:  10%;
    }

    .listado{
        border-bottom: solid;
        width: 100%;
        padding: 8px 60px 8px 60px;
        justify-content: flex-start;
    }

    .listado:last-child{
        padding-right: 60px;
    }

    .add{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .port {
      
        justify-content: flex-start;
        align-items: flex-start;
    
    }
    


    .space{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bold{
        margin-right: 4%;
    }

   .space > a {
        display: flex;
        justify-content: flex-start;
   }

    .carta{
       
        grid-template-columns: auto auto;
        row-gap: 3%;
        
    }

    .servicio{
        display: flex;
        justify-content: flex-start;
    }

    .card{
       
        margin-bottom: 30% ;
      
    }

    .foot{
        margin-top: 30%;
    }

    
}

@media (max-width: 650px) {

    .portada{
        background-image: url("../img/pportada-movil.png");
        width: 0;
    }

    .port {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .data{
        align-items: flex-start;
        text-align: left;
    }

    .datos{
        width: 100%;
        margin-bottom: 4%;
    }

    .space{
        width:  75%;
    }


   
}

@media (max-width: 500px){
  
    
    .space{
        width:  80%;
    }



    .belong {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .carta{
        margin-left: 0;
        grid-template-columns: auto ;
        row-gap: 3%;
        
    }

    .titulo{
        margin-bottom: 10%;
    }

    .final{
        flex-direction: column;
    }

    .bio{
        justify-content: center;
    }

    

    .foot{
        margin-top: 100%;
    }

    .listas{
        margin-top: 10%;
    }

    .NTT{
        margin-right: 0;
        width: 70%;
        margin-bottom: 10%;
    }

    .texto, .bold{
        font-size: 26px;
    }

    .info{
        font-size: 20px;
        width: 70%;
        margin-top: 5%;
    }
}